body {
  margin: 0;
  padding: 0;
  color: #333333;
}

.header {
  background: #8ce0ff;
  color: white;
  text-shadow: 2px 1px #333333;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

button {
  background: transparent;
  color: #333333;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid #8ce0ff;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: bold;
}

.block {
  text-align: center;
}

.weather-icon {
  width: 200px;
  height: 200px;
  padding: 10px;
}

#temperaturarea {
  font-size: 3em;
  margin-bottom: 10px;
}
